[credential]
    helper = store
[user]
    name = sang
    email = sang.chen@outlook.com


[init]
    defaultBranch = main
[core]
    autocrlf = input
    editor = nvim
    quotepath = false
[push]
    default = simple
[gui]
    encoding = utf-8
[i18n]
    commitencoding = utf-8
[svn]
    pathnameencoding = utf-8
[merge]
    tool = vimdiff
[mergetool]
    trustExitCode = true
[pull]
    rebase = false
[alias]
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
[pager]
    # install git-split-diffs: `npm install -g git-split-diffs`
    diff = "git-split-diffs --color=16m | less -RFX"
    show = "git-split-diffs --color=16m | less -RFX"
[split-diffs]
    theme-name = dark
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
    trustExitCode = true
[difftool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE


[url "git@gitcode.yealink.com:"]
    insteadOf = https://gitcode.yealink.com/
[url "git@gitlab.com:"]
    insteadOf = https://gitlab.com/
[http "https://gitlab.home.sang.ink"]
    proxy = http://127.0.0.1:1083
    sslVerify = true
